.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible{
    display: none;
}

.m10{
    margin: 10px;
}

/*Quadrati e loro classi specifiche*/
.box{
    height: calc((var(--grandezza) / 5) - 20px);
    width: calc((var(--grandezza) / 5) - 20px);
    
    background-color: var(--color-two);
    border: 1px solid var(--color-zero);

    font-size: 30px;
}
.active{
    background-color: var(--color-one);
    color: var(--color-zero);
}